html,
body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

.new-container {
	position: relative;
	text-align: center;
	color: white;
	z-index: -1;

}

.bottom-left {
	position: absolute;
	bottom: 8px;
	left: 16px;
}

.top-left {
	position: absolute;
	top: 8px;
	left: 16px;
}

.top-right {
	position: absolute;
	top: 8px;
	right: 16px;
}

.bottom-right {
	position: absolute;
	bottom: 8px;
	right: 16px;
}

.centered-top {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -80%);
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.new-centered {
	top: 50%;
	left: 50%;
}

nav {
	background-color: transparent;
}

.sidenav {
	background: rgb(45, 77, 253);
	background: -moz-linear-gradient(51deg, rgba(45, 77, 253, 1) 0%, rgba(15, 19, 113, 1) 56%);
	background: -webkit-linear-gradient(51deg, rgba(45, 77, 253, 1) 0%, rgba(15, 19, 113, 1) 56%);
	background: linear-gradient(51deg, rgba(45, 77, 253, 1) 0%, rgba(15, 19, 113, 1) 56%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2d4dfd", endColorstr="#0f1371", GradientType=1);
}

.subtitle {
	color: white;
	font-weight: 200;
}

#section-1,
footer {
	background: rgb(17,96,98);
	background: -moz-linear-gradient(184deg, rgba(17,96,98,1) 0%, rgba(15,19,113,1) 47%);
	background: -webkit-linear-gradient(184deg, rgba(17,96,98,1) 0%, rgba(15,19,113,1) 47%);
	background: linear-gradient(184deg, rgba(17,96,98,1) 0%, rgba(15,19,113,1) 47%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#116062",endColorstr="#0f1371",GradientType=1);
}

#section-1 .row {
	position: absolute;
	top: 35%;
	width: 100%;
	z-index: 999;
}

#section-2 {
	padding-top: 64px;
	background: rgb(45,77,253);
	background: -moz-linear-gradient(7deg, rgba(45,77,253,1) 0%, rgba(15,19,113,1) 56%);
	background: -webkit-linear-gradient(7deg, rgba(45,77,253,1) 0%, rgba(15,19,113,1) 56%);
	background: linear-gradient(7deg, rgba(45,77,253,1) 0%, rgba(15,19,113,1) 56%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2d4dfd",endColorstr="#0f1371",GradientType=1);
}

#section-3 {
	padding-top: 64px;
	background: rgb(45,77,253);
	background: -moz-linear-gradient(169deg, rgba(45,77,253,1) 0%, rgba(42,46,140,1) 52%);
	background: -webkit-linear-gradient(169deg, rgba(45,77,253,1) 0%, rgba(42,46,140,1) 52%);
	background: linear-gradient(169deg, rgba(45,77,253,1) 0%, rgba(42,46,140,1) 52%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2d4dfd",endColorstr="#2a2e8c",GradientType=1);
}

#section-4 {
	background: rgb(42,46,140);
	background: -moz-linear-gradient(180deg, rgba(42,46,140,1) 14%, rgba(28,30,64,1) 99%);
	background: -webkit-linear-gradient(180deg, rgba(42,46,140,1) 14%, rgba(28,30,64,1) 99%);
	background: linear-gradient(180deg, rgba(42,46,140,1) 14%, rgba(28,30,64,1) 99%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2a2e8c",endColorstr="#1c1e40",GradientType=1);
}

#section-5 {
	padding-top: 64px;
	background: rgb(11,12,29);
	background: -moz-linear-gradient(0deg, rgba(11,12,29,1) 14%, rgba(28,30,64,1) 99%);
	background: -webkit-linear-gradient(0deg, rgba(11,12,29,1) 14%, rgba(28,30,64,1) 99%);
	background: linear-gradient(0deg, rgba(11,12,29,1) 14%, rgba(28,30,64,1) 99%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0b0c1d",endColorstr="#1c1e40",GradientType=1);}

#section-5 .card {
	cursor: pointer;
}

#section-5 form .input-field {
	margin-bottom: 0;
}

#section-1-title .title {
	border-left: 5px solid white;
	padding-left: 5%;
}

#section-2-title .title {
	font-weight: 100;
	text-align: right;
	padding-right: 5%;
}

#section-2-title .subtitle {
	font-weight: 100;
	text-align: right;
	border-right: 5px solid white;
	padding-right: 5%;
}

#section-1-title h2 {
	margin-top: 0;
}

.new-btn,
#section-1-contact-me-button,
#section-1-cv-button,
#section-1-cv-button-eng,
#form-button {
	font-size: inherit;
	padding: 10px 50px;
	display: inline-block;
	margin: 15px 30px;
	letter-spacing: 1px;
	font-weight: 500;
	outline: none;
	border: 3px solid white;
	border-radius: 60px;
	background: transparent;
	color: white;
	-webkit-transition: background 0.4s;
	/* For Safari 3.0 to 6.0 */
	transition: background 0.4s;
	/* For modern browsers */
}

.new-btn {
	border: 3px solid #1a8887;
	color: #1a8887;
}

.new-btn:hover {
	border: 3px solid #1a8887;
	background: #1a8887;
	color: white;
}

#section-1-contact-me-button:hover {
	background: #110953;
	color: white;
}

#section-1-cv-button:hover,
#section-1-cv-button-eng:hover {
	background: #1a5652;
	color: white;
}

#form-button:hover {
	background: #1a5652;
	color: white;
}

/* White dots menu */
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
	background: white;
}

.fp-nav ul li:last-child {
	display: none;
}

.fp-controlArrow.fp-prev {
	left: 100px;
}

.fp-controlArrow.fp-next {
	right: 100px;
}

.small-medium {
	font-size: 3.3rem;
	margin-bottom: 5%;
}

.card-title {
	font-weight: 200 !important;
	margin-bottom: 10% !important;
}

.card .card-content p {
    margin: 0;
    font-weight: 200;
    letter-spacing: 2px;
}

.fp-slidesNav {
	text-align: center;
}

.fp-slidesNav.fp-bottom {
	bottom: 30px;
}

#projects-main .card {
	background-color: transparent;
}

.hobby-image {
	margin: 10%;
}

.page-footer {
	padding-top: 0;
}

/* Tablet */
@media only screen and (max-width: 992px) {
	#welcome-image {
		left: 20%;
	}

	#fp-nav {
		display: none;
	}

	.fp-controlArrow {
		display: none;
	}

	#section-3 {
		padding-top: 10%;
	}

	#section-5 {
		padding-top: 10%;
	}

}

/* Mobile */
@media only screen and (max-width: 600px) {
	#section-1-title {
		margin-top: -100px;
	}

	#welcome-image {
		margin-top: 0 !important;
	}

	#fp-nav {
		display: none;
	}

	.fp-controlArrow {
		display: none;
	}

	#section-2 {
		padding-top: 70px;
	}

	#section-2-img {
		width: 100%;
	}

	#section-3 {
		padding-top: 10%;
	}

}